node_modules
.env
**/.github/
**/.github/*
.github/workflows/*



# Hardhat files
/cache
/cache_forge
/artifacts
/artifacts_forge

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# custom
deploy.log

/deployments

soljson*.js

.vscode
